[2015-03-20 13:11] trentool opened #1 "TEfindDelay.m shouldn't save TEpermtest as temporary result"
TEfindDelay.m currently writes the following intermediate file types to disk:
<pre><code>*TEpermtest_output.mat
*TE_output.mat </pre></code> The function should write one intermediate file instead, this file should be named differently since it does not contain permutation statistics.

[2015-03-26 13:03] Richter2552 opened #2 "range_search.mexmaci64 is missing from /mex_mac/mex64 folder"
The mex32 version is present, but this file is missing for 64bit, which crashes the program.

[2015-03-26 14:14] trentool commented on #2
Thanks for the note :), I just added the file.

[2015-03-26 14:14] #2 closed, assigned to nobody

[2015-03-26 14:32] Richter2552 commented on #2
working great now!

On Thu, Mar 26, 2015 at 3:14 PM, TRENTOOL notifications@github.com wrote:

[2015-04-07 13:26] pwollstadt opened #3 "Issue a warning if requested delays do not match sampling interval"
TRENTOOL should throw a warning/error if delays requested by the user do not match the sampling interval. This happens if requested delays have a finer resolution than the sampling frequency of the data. When TRENTOOL converts requested delays from ms to samples, delays may be mapped to the same number of samples, which will then result in redundant computations for TE estimation.

[2015-04-16 15:49] dicaincadi opened #4 "NANs in TE and MI outputs from TE surrogate"
Dear experts,
I just started working with the TRENTOOL toolbox and Im finding some issues that I hope you could give me some advice to face them.
I have a dataset of source reconstructed MEG data, where I have identified 4 sources of interest, and I have extracted the ~30 trials for each source in fieldtrip format. The trials are at 1000Hz sampling rate and go between [-50,300] ms. Before any betw

[2015-04-17 15:00] pwollstadt commented on #4
Hi Jose,

there seems to be nothing wrong with your header/configuration. I would like to run the analysis myself to debug it. Could you send me the data or a link to the data and the script you're using to p.wollstadt[at]stud.uni-frankfurt.de?

Thank you for your feedback,
have a nice day,
Patricia

[2015-04-17 15:03] dicaincadi commented on #4
Hi Patricia,
in this link you'll find the data for one subject.
https://www.dropbox.com/sh/kh2w7rjunuspxof/AAC_MZdpq57ktr6EjyktqFHDa?dl=0

Thanks!!

José

2015-04-17 11:00 GMT-04:00 pwollstadt notifications@github.com:

##

José Angel Pineda Pardo

Center of Biomedical Technology (CTB)

Parque Científico y Tecnológico de la UPM

Campus de Montegancedo

28223 Pozuelo de Alarcón, Madrid, ES

[2015-04-17 15:30] pwollstadt commented on #4
Hi Jose,

I had a look at the data and the script. I got an error, because the channels you define in cfgTEGP do not match the channels in the data structure. I did the following:

[code]

Then there was another issue because you are calling the functions TEprepare and TEsurrogatestats directly, without using InteractionDelayReconstruction_calculate.m: there was an error in the function [transfere

[2015-04-17 15:53] dicaincadi commented on #4
Hi Jose,

P.S.: The time window you are using is pretty short for a robust TE

The window of interest in the trial is only this period. I could take a
longer segment +-500 ms at each side as a padding for the computation, but
I do not want them to contribute in the TE estimation.
Does it make any sense?

Thanks!

José

##

José Angel Pineda Pardo

Center of Biomedical Technology (CTB)

Parque Cien

[2015-04-22 08:53] DiBeck opened #5 "number of permutations"
Dear all,

i hope you can help me with an issue. My college and me a working on the estimation of Transferentropy in neuronal networks. I am new in the lab and installed a fresh Trentool version 3.3.2. And took the script from my college, which works fine with her version and tried to use it with my version.

First i received the error that

[code]

does not exist. I changed the

[code]

Now i rec

[2015-04-22 11:59] pwollstadt commented on #5
Hi Dirk,

TRENTOOL throws an error if the number of computations is too big in relation to the number of trials you are using. I checked the code and there seem to be cases, where it is not possible to set a correct number of permutations, I will fix this. However, it seems like you have very little trials left for analysis in one of your signal combinations. You should check that and make sure th

[2015-04-24 12:23] DiBeck opened #6 "Data for the examples"
Hello,

this is not an urgent comment. However i tried to use the `example_script_cpu.m` but the data is not available in github. It would be nice if there is a working example.

Thanks!

[2015-04-24 12:28] DiBeck commented on #5
Thanks for the help! In the moment I use a data set with reduced size and that might be the problem.

kind regards Dirk

[2015-04-24 13:09] pwollstadt commented on #6
Hi Dirk,
data sets for the example scripts are in a different branch:

https://github.com/trentool/TRENTOOL3/tree/exampledata

Maybe keeping the data as a different branch is a bit confusing, I might change that in the future.

Have a nice day,

Patricia

P.S.: See also this wiki page on the example data: https://github.com/trentool/TRENTOOL3/wiki/Example-data-sets

[2015-04-24 13:18] pwollstadt commented on #5
Hi Dirk,

as a workaround, you can just leave the field

[code]

undefined and TRENTOOL will set an appropriate default value. This does not guarantee that your statistics make sense, i.e., you have to check yourself if you have enough trials left (~ 15 or more per channel combination) for a meaningful permutation test.
We are working on some checks that will issue a warning/throw an error if the

[2015-04-29 14:06] DiBeck commented on #6
Thanks, that was my fault. I did not understood the github branches.

Kind regards

Dirk

[2015-04-29 14:06] #6 closed, assigned to nobody

[2015-04-30 12:05] pwollstadt commented on #4
Hm, it doesn't make sense to include more samples if they shouldn't contribute to the TE estimation. Then you have to run it like that. Another option would be the ensemble method (pooling data points over trials to estimate TE from short time windows), but for that you need a NVIDIA-GPU.

I would mark this issue as closed.

Best, Patricia

[2015-04-30 12:05] #4 closed, assigned to pwollstadt

[2015-06-02 12:05] dwuab opened #7 "example_script_CPUmethod.m error"
I ran `example_script_CPUmethod.m` on Matlab2014a (Mac OS 10.10.3) with `fieldtrip-20150601` and got the following error:

[code]

with a little bit of debugging, I found that `nrtrials` was a a vector with two elements `[150 150]` and `cfg.numpermutation` was 50000.

[2015-06-02 15:36] trentool commented on #7
That is right, the function should use the maximum over the vector `ntrials`. I fixed this, thank you for pointing this out.

Best,
Patricia

[2015-06-02 16:03] goocy opened #8 "Trouble with analyzing precise timewindows"
I have some issues with the interaction analysis of MEG data.
I'd like to compare two datasets from 18 subjects, 150 trials each, at exactly the same timewindow (for example, 1000 to 1200 samples after data onset). The current Trentool implementation apparently computes an embedding interval, and uses a pre-set number of points after the embedding interval for the analysis.

My issue is that the e

[2015-06-03 07:22] mwibral commented on #8
Dear goocy,

the fact that ACT varies across the datasets is just that - a fact. If
you want to compare data, you also need a fixed number of points, as
basically all information theoretic estimators that I know of have a
bias that depends on the number of data points- so there are good
reasons that TRENTOOL makes these things difficult.

I don't think it's as problematic as it seems at first, tho

[2015-06-05 13:29] goocy commented on #8
Thanks for the advice!

[2015-06-05 13:29] #8 closed, assigned to nobody

[2015-06-07 13:08] goocy opened #9 "Conceptual issues in InteractionDelayReconstruction_analyze.m"
I'm trying to understand InteractionDelayReconstruction_analyze.m, but I've hit a number of issues.

First, the required cell structure is a bit inconvenient. You say that data is the "output of InteractionDelayReconstruction_calculate", but the actual output of TEsurrogatestats is spread over several dozens or hundreds of files: two for each calculated interaction delay. Of course, I can load the

[2015-06-10 13:50] #7 closed, assigned to nobody

[2015-06-10 14:36] pwollstadt commented on #9
Hello goocy,

we indeed changed the work flow for the reconstruction of interaction delays. `InteractionDelayReconstruction_calculate` now does the optimization of interaction delays internally. This is a change from earlier TRENTOOL versions, but makes TE estimation much faster. So, you just call `InteractionDelayReconstruction_calculate`, but you no longer need to call `InteractionDelayReconstru

[2015-06-29 17:28] delee1000 opened #10 "Error during install"
## I'm getting the following error:

Error using mex
MEX cannot find library 'gpuKnnLibrary' specified with the -l option.
 MEX looks for a file with one of the names:
 gpuKnnLibrary.lib
 libgpuKnnLibrary.lib
 Please specify the path to this library with the -L option.

Error in install (line 4)
## mex('-v',['-L' '.'], '-lgpuKnnLibrary', ['-L' CUDA_LIB_PATH],'-lcudart', 'fnearneigh_gpu.cpp');

If

[2015-06-30 06:21] trentool commented on #10
Hi,
it seems like you are trying to use the mex functions for GPU computation on a Windows machine? Unfortunately, right now GPU computation is supported for Linux and NVIDIA hardware only (see [here](http://trentool.github.io/TRENTOOL3/download.html)). We may include support for Windows architectures in the future.
Do you want to use the ensemble/GPU method for TE estimation? Note that you don't

[2015-06-30 06:22] #1 closed, assigned to trentool

[2015-06-30 06:24] trentool commented on #1
As of now, TRENTOOL only writes a file `*TEpermtest_output.mat` to disk.

[2015-07-02 00:03] renzocom opened #11 "Error during install.m"
When running `install.m` I received the following error message:

[code]

I was trying to install the mex files on a Ubuntu 14.04 machine

[2015-07-02 08:48] mwibral commented on #11
Dear Renzocom,

this looks like an incompatibility between the gcc on your machine and
the one that your MATLAB version supports. So you will not be able to
create ay MEX file. The problem is unrelated to TRENTOOL.

Please check the compiler versions that your matlab supports by
searching for something similar to this:
http://de.mathworks.com/support/compilers/R2013a/?sec=glnxa64

Best,
Michael

O

[2015-07-03 09:07] #11 closed, assigned to nobody

[2015-07-13 21:59] delee1000 commented on #10
Hi Patricia,

I do require the ensemble method for TE estimation.

I got Linux running, and now I'm getting the following error during install:

[code]

Unable to complete successfully.

Error in install (line 4)
mex('-v',['-L' '.'], '-lgpuKnnLibrary', ['-L' CUDA_LIB_PATH],'-lcudart', 'fnearneigh_gpu.cpp');

---

If it helps, I'm using Ubuntu 14.04 and MATLAB 2015a on a network license.

Thanks,

[2015-07-16 07:06] pwollstadt commented on #10
Hi Donald,

are you running `install.m` from the TRENTOOL folder? You have to make sure that you are in the folder containing `fnearneigh_gpu.cpp` and  `range_search_all_gpu.cpp` when running the script.

Best, Patricia

[2015-07-21 15:05] dwuab opened #12 "parallel code in `TEprepare.m` needs update"
In Matlab 2015a, `findResource`, `defaultParallelConfig` and `matlabpool` have been removed.

[2015-07-22 01:48] dwuab opened #13 "Q: How can TERagwitz.m gain from GPU?"
The documentation for Trentool only mentions that GPU can help the ensemble method.
However, from the source files, it seems that the GPU code only do nearest neighbor searching. Is it possible to incorporate GPU code into function such as `TERagwitz`?

[2015-07-22 20:48] mwibral commented on #13
Hi,

the problem is how to fill the GPU with computations. In the ensemble
method the original data and a bunch of equally sized surrogate data
sets go to the GPU, and they're all crunched siultaneously. This
basically gives you the surrogate stats with no additional time.

In the standard method, there is only one original data piece and one
surrogate data set for each trial (instead of ~1000). O

[2015-07-24 06:41] dwuab commented on #13
@mwibral I'm interested in looking into this problem too. By the way, how can I view the source of `int cudaFindKnn`?
**Update:** I have very long time series such that even Ragwitz "test" would take ages to complete. I'm trying to find a way to use GPU to speed up the `knn` neighbors searching for Ragwitz test.

[2015-07-26 16:18] mgkabadi opened #14 "Saving results of TE Computation"
Dear Contributors,
I' am using TRENTOOL on Process Data for directed graph modeling (causality).
I used a previous version of the toolbox and results for each prediction step u was saved correctly (see screenshot 1)
But when i update the Toolbox only 2 results are saved (see attachment 2).
Can you help me to solve this issue.
The intermediate results are useful for plotting TE in function of predi

[2015-07-26 16:31] mgkabadi commented on #14
I find a solution for the issue.
The section was commented for saving intermediate results but this change was not traced.
![salution_commented_section _on_tesurrogatestats](https://cloud.githubusercontent.com/assets/5683468/8894830/9486f95c-33c4-11e5-8598-9c33e3689c0b.png)

[2015-07-28 02:30] dwuab commented on #13
@mwibral I cannot find the source code for `cudaFindKnn` anywhere in the package. The `.ptx` file in `libgpuKnnLibrary.a` is low-level Cuda-specific assembly code and I cannot understand it.

[2015-07-28 13:07] mwibral commented on #13
Dear Samuel,

I checked and indeed the cuda code is missing. I am traveling at the
moment, but will upload it next week.

Best,
Michael

On 28.07.2015 04:30, samuelandjw wrote:

[2015-07-30 13:19] pwollstadt commented on #13
Hi Samuel,

I uploaded the source code for the CUDA functions (see [here](https://github.com/trentool/TRENTOOL3/tree/master/cuda)), so you can have a look.

Best,
Patricia

[2015-08-01 08:34] dwuab commented on #13
@pwollstadt Thanks!
I just changed the path to Matlab and ran `make` on a machine that has N-cards and cuda and I got the following error messages:

[code]

Looks like something wrong in the linking stage.

[2015-08-04 13:42] pwollstadt commented on #14
Dear mgkababadi,

you are right, TRENTOOL does not save intermediate results anymore. This is a fix of an open issue (see [TEfindDelay.m shouldn't save TEpermtest as temporary result #1](https://github.com/trentool/TRENTOOL3/issues/1)), since these intermediate files do not contain anything but the intermediate TE estimates (using different assumed values for the delay u) and no statistics, we con

[2015-08-04 13:47] pwollstadt commented on #13
@samuelandjw thanks for letting us know. I forwarded this error to Mario Martínez Zarzuela, who programmed the CUDA functions. I'll let you know as soon as possible.

[2015-08-04 13:48] pwollstadt commented on #10
@delee1000 if the installation is working for you, I would close this issue. Please let me know, if now everything is running as supposed.

[2015-08-14 00:25] delee1000 commented on #10
Hi Patricia,

I am still having some issue with the installation, but I have put it on
pause for a bit.

I think my latest issue may have something to do with permission settings.
It appears that the only way I can get gcc 4.4 and everything else to work
is if every file is located in the MATLAB root folder.

Thanks,

Donald

On Tue, Aug 4, 2015 at 6:48 AM, Patricia Wollstadt <notifications@github

[2015-08-14 15:47] dwuab commented on #13
@pwollstadt I found the solution to the compilation problem. On my University's GPU cluster, mex actually invokes g++ to do the linking. Removing the `extern "C" {...}` surrounding `cudaFindKnn` and `cudaFindRSAll` works for me.
I think we should either:
1) specify g++ to be the linker in the mex step and remove `extern "C" {...}` in the two above-mentioned functions.
2) specify gcc to be the link

[2015-08-27 18:18] ospsy commented on #10
Hello,

I'm encountering a similar issue with fnearneigh_gpu (Ubuntu 14.04).

For install, MEX completed successfully - I recieved the following Warning during compilation, but it may be irrelevent to the issue:
Warning: You are using gcc version '4.8.4'. The version of gcc is not supported. The version currently supported with MEX is '4.7.x'. For a list of currently supported compilers see: http:

[2015-08-27 20:13] ospsy commented on #10
quick update: reran install.m using older gcc - compiled without warnings; did not fix or change the issue.

[2015-09-01 11:41] brekels opened #15 "negative transfer entropy?"
Hello,
I am doing a project analysing pairs of EEG and EMG channels to measure flow from brain activity to facial movements.   However, when I run the TRENTOOL pipeline (either in ensemble or regular mode), I get many negative values for transfer entropy, which translate to NaNs for mutual information.  Do you know off-hand how this could be?

Can post more details as necessary, but I have 384 dat

[2015-09-01 11:50] trentool commented on #15
@brekels Negative TE values are due to the estimator used (See the [paper](http://journals.aps.org/pre/abstract/10.1103/PhysRevE.69.066138) and [dissertation](http://juser.fz-juelich.de/record/43165/files/NIC207601.pdf) by Kraskov). You can't interpret the TE values obtained from this estimator at face value. TRENTOOL therefore implements permutation testing to check if estimated TE values are sta

[2015-09-01 14:26] brekels commented on #15
Thanks, Patricia @trentool!  The dissertation was very helpful

It seems that the important point there is that "H can be negative if close pairs in Y corresponded mainly to distant pairs in X," which they say is unlikely (they haven't seen data as noisy as this!).  Still, it seems strange that running trials from one condition in the ensemble method was able to yield significant results (before c

[2015-09-02 08:07] trentool commented on #15
I am sorry, I don't get your question, what do you mean by "running trials from one condition in the ensemble method"? Were you testing data from one trial against surrogate data? Why would it be strange to get significant results?

[2015-09-02 09:44] brekels commented on #15
Sorry, no I was running ~2500 trials together, all from one group of experimental conditions.  I was just surprised that the majority of transfer entropy values were < 0, MI gave NaNs, and still gave significant results for several channel pairs (possibly not a big enough surrogate data set).
It sounded to me like negative values should be relatively rare.. would that mean embedding/delay search p

[2015-09-02 17:44] trentool commented on #15
We do find negative TE values in some of our data sets, so in general it is nothing to worry about. Also, it does not mean you can't have significant results. If TE values for surrogate data are also negative, you can get a significant result for your TE estimate on the original data (if the TE value is larger than 1-alpha percent of the surrogate TE values). So, on first glance, your results seem

[2015-09-09 19:39] ospsy commented on #10
Purged and updated NVIDIA drivers and paths - problem solved.

[2015-09-11 04:17] dotsoneuroscience commented on #15
Hello,

I am finding that negative TE values are the norm in the data I am working with. I am analyzing LFP signals (sample at 1KHz) that are 400 ms long, with ~500 trials.

Is their a different way to estimate the bias to avoid this? My primary concern is that this makes the actual TE values difficult to interpret within and between pairs of signals.

Any help is appreciated.

[2015-09-11 14:06] mwibral commented on #15
Hi,

the important figure is the difference to surrogate data, not the raw.
This difference is the number derived in the permutation tests.

Best,
Michael

On 09/11/2015 06:17 AM, dotsoneuroscience wrote:

[2015-09-29 11:36] trentool commented on #15
@dotsoneuroscience regarding your comment: `My primary concern is that this makes the actual TE values difficult to interpret within and between pairs of signals` Note that the actual TE values estimated by the Kraskov estimator can't be interpreted at face value because of the bias (see the first answer in this thread).
To compare TE values between pairs of signals you have to make sure that the

[2015-10-27 15:07] trentool commented on #14
@mgkabadi the new release version of TRENTOOL3 is now [online](https://github.com/trentool/TRENTOOL3/releases/tag/v3.4.2). I will close this issue.

[2015-10-27 15:08] #14 closed, assigned to nobody

[2015-10-27 15:14] trentool commented on #9
@goocy we updated the manual on the new work flow for delay reconstruction, which no longer requires `InteractionDelayReconstruction_analyze.m`, and published a release version including these changes (see [here](https://github.com/trentool/TRENTOOL3/releases/tag/v3.4.2)). All changes are listed in the release notes.
The release includes example scripts on how to use TRENTOOL for delay reconstruct

[2015-10-27 15:14] #9 closed, assigned to nobody

[2015-10-27 15:16] trentool commented on #12
@samuelandjw unfortunately, we are no longer able to update the parallel code included in TRENTOOL. However, if you would like to contribute code working with newer MATLAB versions, we would be happy to include it into the toolbox.

[2015-10-27 15:16] #12 closed, assigned to nobody

[2015-10-27 15:23] trentool commented on #5
@DiBeck we included a new function [`TEchecknumperm.m`](https://github.com/trentool/TRENTOOL3/blob/master/private/TEchecknumperm.m), which depending on whether the user provided a number of permutations
1. checks the provided number of permutations, or
2. sets the number of permutations based on the requested alpha level and units of observations.

[2015-10-27 15:23] #5 closed, assigned to pwollstadt

[2015-11-13 00:01] bewantbe opened #16 "A code change to reduce RAM footprint (also speed-up)"
I found that the transfer entropy functions in your toolbox consume a lot of RAM for long data (>1e5), I mean a hundred gigabyte or more.

Trace down to TEC_dsvalues.m and range_search.cpp, the code requiring some unused variable like "neighbors_p21_2":
   [ncount_p21_2,  neighbors_p21_2]  = range_search(...)
Actually the code range_search.cpp treat "count only" case specially
   neighbors_p21_2

[2015-11-14 20:22] mwibral commented on #16
Thanks,

this looks like a promising improvement.

Michael

On 13.11.2015 01:01, count wrote:

[2015-11-23 10:27] #16 closed, assigned to nobody

[2015-11-23 10:28] pwollstadt commented on #16
@bewantbe Thank you for the suggestion, I removed the unnecessary output variables in both functions `TEC_dsvalues.m` and `TEC_dsvalues_noSourceEmb.m`.

[2016-03-02 01:00] GowthamBio opened #17 "cfg.tau number elements zero"
I am getting following error when I trying run the code for my

Index exceeds matrix dimensions.

Error in transferentropy (line 377)
        currentTau = round(cfg.tau(1)*data.TEprepare.maxact)

Error in TEsurrogatestats (line 523)
[TEresult] = transferentropy(cfg,data);

Error in TEfindDelay (line 59)
        TGA_results{uu}=TEsurrogatestats(cfgTESS,data);

My data has rms values of EEG in one r

[2016-03-02 11:39] pwollstadt commented on #17
Hi @GowthamBio,
what did you specify for cfg.tau in your analysis?

[2016-03-02 22:56] GowthamBio commented on #17
I assigned values 0.2 to 0.5 for cfg.tau. The error is "Attempted to access cfg.tau(1); index out of bounds because numel(cfg.tau)=0.". Also it is not displaying any values for optimal tau, and dimension for the data set. Is this because the range specified for cfg.tau incompatible for my dataset?

[2016-03-03 00:08] mwibral commented on #17
Hi,

it's possible, that there is a bug when using cfg. tau instead of using
a range for the tau values and then a number of steps in that range -
could you check whether the functions work for you with range and steps
as described in the manual.

Thanks,
Michael

On 03.03.2016 09:56, GowthamBio wrote:

[2016-03-08 13:33] Tambah opened #18 "Example data ('exampledata/') are missing from the current version"
I'm not sure whether to count that as an issue, but the exampledata folder is missing from the current version. Is it just moved elsewhere?

[2016-03-08 23:53] pwollstadt commented on #18
Hi @Tambah, the folder has moved and now has its own repository [here](https://github.com/trentool/TRENTOOL3_exampledata).

[2016-03-08 23:53] #18 closed, assigned to nobody

[2016-07-21 20:00] dpdarrow opened #19 "Error using fnearneigh_gpu"
I am working on a huge dataset and having trouble getting the gpu script working. I was able to solve library issues, but I am stuck on this error:

TEprepare.m - line 934: Optimal tau for this dataset is: 0.39
      TEprepare.m - line 946: Optimal dimension for this dataset is: 8
      TEprepare.m - line 1056: Adding TEprepare structure to original data structure

InteractionDelayReconstruction_c

[2016-08-02 12:42] trentool commented on #19
Hi @dpdarrow ,
this seems to be a problem with your device, from googling around, I got that you may have to specify a different architecture when compiling the CUDA functions (`-arch=compute_xx` and `-code=sm_xx`). Did you try to change these settings when recompiling (you should be able to set them in the CUDA [Makefile](https://github.com/trentool/TRENTOOL3/blob/master/cuda/Makefile))?

[2016-08-10 14:49] dpdarrow commented on #19
Thanks. I was able to find improvements from passing the compute flags. I realized that I am getting errors from running make in the cuda directory. Unfortunately, I am getting a reference error:

[2016-08-15 13:46] dpdarrow commented on #19
I saw the other post by @samuelandjw and found his linking fix of removing extern C from gpuKnnLibrary.cu, which seemed to solve the compilation issue.
Unfortunately, the gpu run has been seg faulting matlab, so I am hoping to track that down.

[2017-01-17 16:39] dheerajrathee opened #20 "Problem in executing the example script (with nn_prepare)"
I tried to run the example script but I got this error:

      -Attempt to execute SCRIPT nn_prepare as a function:
U:\Softwares\TRENTOOL3-master\tstool_functions\nn_prepare.m
Error in TEragwitz (line 75)

may be some issue with mex file...

[2017-01-20 12:05] pwollstadt commented on #20
Hi @dheerajrathee, which example script did you run? This sounds like you were trying to use the GPU functions without first compiling the mex files. If you want to use the GPU functions, you need to run `intall.m` first.

[2017-01-20 14:08] dheerajrathee commented on #20
Hi Patricia,

Thanks for your reply.
I tried to run 'example_script_CPUmethod' script.
Kindly see the attached screenshot with the error (I use two screens).

Best,
Dheeraj
![trentool_error](https://cloud.githubusercontent.com/assets/15192679/22152258/e1e23944-df19-11e6-9010-cd1b2e00f1f6.png)

[2017-01-30 16:46] pwollstadt commented on #20
Hi Dheeraj, could you try to calling nn_prepare directly to make sure you can execute the pre-compiled mex-files? Just go into the subfolder TRENTOOL3/tstool_functions/mex_win/mex64 (assuming your you are on a 64bit architecture, otherwise its the folder mex32) and check if you can execute nn_prepare (e.g., do `nn_prepare(ones(100, 10))`).
Thanks, Patricia

[2017-05-01 18:27] currymj opened #21 "What kind of speedup should be observed from using the GPU?"
I've been running the GPU and CPU examples. I'm trying to make sure the parameters on GPU memory, thread count, etc. are reasonable. What kinds of speedups should be observed from using the GPU method over the CPU method? Or, are they not directly comparable?

[2017-05-02 09:18] pwollstadt commented on #21
Right now both implementations (GPU and CPU) follow different work flows and are thus not directly comparable. The CPU method uses a short cut when doing surrogate statistics which only requires the computation of transfer entropy from a single set of surrogate data (described [here),](https://bmcneurosci.biomedcentral.com/articles/10.1186/1471-2202-12-119) while the GPU method requires the comput

[2017-05-02 16:53] currymj commented on #21
Thanks for the clarification. So the GPU method is slower but better for certain types of signals, and heavy enough of a computation that it probably wouldn't even be feasible on a CPU.

[2017-05-03 10:32] pwollstadt commented on #21
That's right. The GPU work flow wasn't feasible on a CPU, hence the GPU extension.
The GPU work flow as implemented right now is just different from the CPU work flow. In principle we would expect a speedup if we changed the CPU work flow to run in parallel on the GPU.

[2017-06-22 17:45] SooryaG-2612 commented on #20
I have exactly the same error as Dheeraj too.
I tried your solution Patricia, the nn_prepare (ones(100,10)) was working fine but the example script has the same error still.
I am on Ubuntu 14.04

[2017-06-22 19:26] dheerajrathee commented on #20
Hi Soorya,
I resolved the above issue by simple copy and pasting the mex file for nn_prepare, nn_search, and range_search from the folder location '\Trentool3\tstool_functions\mex_win\mex64' to the main folder i.e., '\Trentool3'. In tstool_functions folder you have options for mac, windows, and linux.

Best,
Dheeraj

[2017-06-23 14:54] SooryaG-2612 commented on #20
Thanks Dheeraj,
I figured a way around it yesterday. I renamed the ones in the main folders and its working fine.
Cheers,
Soorya

[2017-06-23 15:26] #20 closed, assigned to nobody

[2017-06-29 07:29] SooryaG-2612 commented on #21
Do you have any CPU implementation of the ensemble estimation method?
Our data sets are not too large (66 samples in time,100 realizations) but we have severe hardware issues with the GPU.
Is there any branch prior to the GPU extension which I can use on the CPU for arriving at ensemble TE estimates?

[2017-07-04 05:09] DarcyZhuoLiu opened #22 "A problem in the TEtrialselect.m"
Dear,
    Thank you for providing the TRENTOOL. This toolbox is very powerful. I am studying this toolbox to solve an issue by means of transfer entropy. My version is the latest one, 3.4.X, just downloaded a few days ago.
    In the script named 'TEtrialselect.m', in my opinion, there is a bug in the 59th line,
   'trialselect = find(ACT(ii,2,:)>actthreshold(1) & ACT(ii,2,:)<=actthreshold(2));'

[2017-07-13 01:15] DarcyZhuoLiu commented on #22
It seems that I understand your intention like this. It will make sure that two channels in one pair of channel combination derive from the same trial.
This is a great work!

[2017-07-13 01:25] DarcyZhuoLiu opened #23 "cao.m is missing"
There is no file called 'cao.m' in TRENTOOL. Consequently, when choosing 'cao' as the optimization algorithm to find optimal embedding parameter, the program is crushed.
If possible, I hope you can supplement this file.
Thank you very much~~~ @trentool @mwibral

[2017-07-25 18:35] currymj opened #24 "How to tune parameters for lag estimation?"
The group I work for is trying to use transfer entropy to compare some simulated signals, in order to eventually apply the same computational pipeline to real data once it is available. In particular, our focus is on estimating the lags. We've found that in a variety of simple and complicated simulated datasets, TRENTOOL consistently hugely underestimates the delay time. Usually it picks the small

[2017-08-07 12:22] mwibral commented on #24
Dear Michael,

I am sorry to hear that TRENTOOL's lag estimation is causing trouble.
 From my experience, the reasons maybe fourfold:

1. An insufficient amount of data; yet, this will typically render the
lag variable, whereas you get a bias towards too short delays.

2. A low entropy (rate) of the source process, i.e. not much information
is produced in the first place, to be then transferred.

[2017-08-14 21:01] currymj commented on #24
We had been using trajectories sampled from a set of stochastic differential equations that are supposed to simulate something like the dynamics observed when measuring EEG. In the interest of figuring out where we're going wrong, though, I've tried to simplify things.

When simulating a simple AR(1) process generated from the code below (the output is just a channels x time points x trials matrix

[2017-10-13 16:41] dpdarrow commented on #19
I finally determined that the major issue was kernel interruption from the OS on a nondedicated GPU last year. I upgraded to a new computer, and unfortunately, after fixing everything that had been a problem in the past, I am now receiving the same error.

Error detected in the GPU (check console)

Error in TEcallGPUsearch (line 313)
            [~, distance_p21] = fnearneigh_gpu(single(pointset_p

[2017-10-13 20:06] mwibral commented on #19
Hi,

At least for the Pro cards from nVIDIA you can set them to belong
exclusively to the compute process (using nvidia smi) - no display,
then, of course (we run our cards in headless servers only).

Michael

On 13.10.2017 18:41, dpdarrow wrote:

--
----------------------------------
Prof. Dr. rer. nat. Michael Wibral
MEG Labor, Brain Imaging Center
Goethe Universität

Heinrich Hoffmann Strasse 1

[2017-11-22 11:53] trentool commented on #23
Hi @DarcyZhuoLiu the Cao criterion for embedding is deprecated. Please use the Ragwitz method instead. We will remove this option from the documentation. Thanks!

[2017-11-22 12:02] #23 closed, assigned to nobody

[2017-11-22 14:08] pwollstadt commented on #21
Hi @sooryasadayam, unfortunately we provide no CPU-implementation of the ensemble method. You may want to have a look at our new Python toolbox, [IDTxl,](https://github.com/pwollstadt/IDTxl) which provides the ensemble method for CPU but works differently from TRENTOOL.

[2017-11-22 14:08] #21 closed, assigned to nobody

[2017-11-22 14:09] #10 closed, assigned to nobody

[2017-11-22 14:09] #15 closed, assigned to nobody

[2018-01-08 17:25] rsipahi opened #25 "range_search.m issue"
I have all the lines in range_search.m commented out. When attempting to call this m file, Matlab returns an error. Should this file be configured as a function? How is the output of this function calculated? Any updates on range_search.m will be appreciated?

[2018-01-08 17:38] mwibral commented on #25
Hi,

what's the error message? Did you tell your script where TRENTOOL and
it's TSTOOL mex-files are located?

Best,

Michael

On 08.01.2018 18:25, rsipahi wrote:

--
----------------------------------
Prof. Dr. rer. nat. Michael Wibral
MEG Labor, Brain Imaging Center
Goethe Universität

Heinrich Hoffmann Strasse 10
60528 Frankfurt am Main

Phone: +49 69 6301 83193
Fax:   +49 69 6301 83231
-------

[2018-01-09 02:36] rsipahi commented on #25
Thank you for your email.
Yes, TRENTOOL is on the path, so is fieldtrip folder.

For example, I run "example_script_CPUmethod.m" and the code starts running
as I can follow from the command window.

*At some point, I get this*:

################### OPTIMIZING INFORMATION TRANSFER DELAY

      TEfindDelay.m - line 45: Estimating TE for u = 40 ms

*and immediately after, I get this error in red text

[2018-01-09 15:27] mwibral commented on #25
Hi,

this still looks like an error caused by not finding the the correct mex
files. You could try to 'recompile/remex' them, and check that the
TSTTOOL location is sset correctly as per the manual.

What's your MATLAB version and OS?

Michael

On 09.01.2018 03:36, rsipahi wrote:

--
----------------------------------
Prof. Dr. rer. nat. Michael Wibral
MEG Labor, Brain Imaging Center
Goethe Univer

[2018-01-09 19:46] rsipahi commented on #25
Dear Professor Wibral,

Thank you so much for your time.

I am using Matlab ver 2015b with OS Win 8, 64 bit. I do not have a CUDA
GPU, so this might be one of the issues (I think for some reconstructing
operations, CUDA is a requirement). I wonder if I can still run some
analysis without a CUDA GPU?

Thank you for your time and patience.

Best regards,
Rifat Sipahi

On Tue, Jan 9, 2018 at 10:27 AM

[2018-02-02 17:31] mnnahvi opened #26 "cuda 'make' problem"
hi, thank you for toolbox.
I have nvidia GTX 960m + CUDA support.
I successfully installed nvidia driver and CUDA toolkit.
and have MATLAB 2016a on ubuntu 16.04
when i "make"  TRENTOOL\cuda folder after some changes in MakeFile,  result is

make: *** [mex] Error 255

MakeFile and make command result attached.

[Makefile.txt](https://github.com/trentool/TRENTOOL3/files/1690224/Makefile.txt)
[make r

[2018-02-02 19:16] mnnahvi commented on #26
OK!!
After a little searching here and using the attached files, the problem was resolved.
[Makefile.txt](https://github.com/trentool/TRENTOOL3/files/1690534/Makefile.txt)
[gpuKnnLibrary.cu.txt](https://github.com/trentool/TRENTOOL3/files/1690535/gpuKnnLibrary.cu.txt)

[2018-02-07 13:21] #26 closed, assigned to nobody

[2018-06-05 21:11] anupdas777 opened #27 "libgpuKnnLibrary.lib not found"
While running install.m to install the TRENTOOL toolbox, the following error shows up in MATLAB:

Error using mex
MEX cannot find library 'gpuKnnLibrary'
specified with the -l option.
 MEX looks for a file with one of the
 names:
 libgpuKnnLibrary.lib
 gpuKnnLibrary.lib
 Please specify the path to this library
 with the -L option.

Error in install (line 4)
mex('-v',['-L' '.'], '-lgpuKnnLibrary',

[2018-07-20 15:42] Fatima-h22 opened #28 "minimum number of trials"
Hi
I have EEG data of 2 groups in rest condition(16 individual in every group) and I'm going to calculate TE by Trentool for these two. I used GroupAnlysis to have comon dimension for all. There is a problem with trial number:
As my data recorded in  rest with no task I set cfgTEGP.minnrtrials=1;
but during running the code following warning is appeared:
 The number of trials/subjects (1) is too s

[2018-07-25 13:03] mwibral commented on #28
Hi Fatima,

you need to cut your resting state data into segments (e.g. 2 seconds
long) to create more than 1 trial. This is because the surrogate-data
based statistics needs it.

Best,

Michael

On 20.07.2018 17:42, Fatima-h22 wrote:

[2018-07-25 15:51] Fatima-h22 commented on #28
Hi Michael
Thank a lot for your answer.
I should mention that the length of recorded EEG data is 240sec with 500Hz
samplng frequency (i.e.120000 sample)
but as EEG is not stationary I segmented my data to 8sec (4000sample)
windows and I were going to calculate transfer entropy in each window
separately and then average the TE on all windows.
Now  it seems that was not true.

some cases are not cle

[2018-11-04 12:48] ogamimusashi opened #29 "TE for non stationary short time series"
Hello,
I would like to test TE in the context of climate data time series. The problem is that my data is unique (numtrials = 1) and with a very low number of points (41). The times series are non stationary.
I tried using TE_ensemble by creating ARIMA simulations of my data but it fails to capture the statistics of the original data.
Can TE_ensemble be used with my original data or it there to fe

[2018-11-09 17:11] pwollstadt commented on #29
Hi @ogamimusashi, 41 samples for a non-stationary process is probably too few. The ensemble method for TE estimation expects a data set that contains many replications of a (non-stationary) process. Do you have any chance to obtain more data, ideally replications of your process?

[2018-11-09 17:53] ogamimusashi commented on #29
@pwollstadt I'm not familiar with replications in neurosciences. How replications are created? Is this simultaneous measurements or sequential?

[2018-11-09 18:21] pwollstadt commented on #29
By replications I just mean observations of temporal or physical copies of the same process. This is not specific to neuroscience measurements. In climate science, for example, this could be repeated observations of some seasonal process.

[2018-11-09 18:51] ogamimusashi commented on #29
Okay. So for example my data is annual. But i do have it at the monthly scale. To each trial could be one  year of monthly observations?

[2018-12-25 12:44] jpainam opened #30 "Unable to save Lorenzdata in example_script_CPUmethod"
Hi, I'm trying to run the code in `example_script_CPUmethod.m` but end up with this error.
[code]
I tried to change the directory, but it still doesn't work.

Thank you

[2018-12-28 09:55] pwollstadt commented on #30
Hi @jpainam, could you post the save command you are using? Do you provide the file name with or without the '.mat' extension? This could be an issue, see for example [here](https://www.mathworks.com/matlabcentral/answers/296384-my-code-wont-run-due-to-invalid-argumument).

[2018-12-28 10:01] pwollstadt commented on #29
Hi @ogamimusashi sorry for the delay. Yes, if the process is stationary over years, your annual observations are one replication each. You may want to have a look at our [paper](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0102833#s2) on the ensemble method. There we describe the prerequisites for using the ensemble method (in particular, the section "Stationarity and non-stat

[2018-12-30 05:55] jpainam commented on #30
Hi, removing these special characters `1->2__` from the filename solved the problem. But now I have another problem.
`TRENTOOL ERROR: You requested ensemble method with GPU calculation. No Nvidia GPU could be detected on your system.`
How can I avoid using my GPU? I'm running `example_script_ensemblemethod.m`
I'm using Windows.

[2019-01-02 10:54] mwibral commented on #30
Hi Jean-Paul,

to avoid using the GPU you would have to shift from the ensemble method
to the older standard method. This is because the computations of the
ensemble method are so demanding that execution on CPU will potentially
have to wait for a very long time, hence they were not implemented.
However, we strongly recommend to use the ensemble method as it makes
better use of the data.

If you'r

[2019-01-02 15:50] jpainam commented on #30
Thanks @mwibral I'll try [https://github.com/pwollstadt/IDTxl](https://github.com/pwollstadt/IDTxl) as I'm already familiar with python.

[2019-01-02 15:50] #30 closed, assigned to nobody

[2019-03-05 09:08] Cheng012 commented on #27
hello,I meet the same problem.Had you solved the problem?I really need your help.Thank you

[2019-03-05 14:08] Cheng012 commented on #29
Hi @ogamimusashi @pwollstadt ,I am sorry to you.I indeed need a help. The problem is that when I try  running install.m to install the TRENTOOL toolbox, the following error shows up in MATLAB:

Error using mex
MEX cannot find library 'gpuKnnLibrary'
specified with the -l option.
MEX looks for a file with one of the
names:
libgpuKnnLibrary.lib
gpuKnnLibrary.lib
Please specify the path to this libra

[2019-03-05 16:50] pwollstadt commented on #27
@anupdas777 , @Cheng012 you only have to run `install.m` if you want to use the GPU-based estimators implemented in TRENTOOL. If this is not the case you can run your analyses without compiling the GPU mex-files.

[2019-03-06 03:06] Cheng012 commented on #27
Thank you for your answer.I'm working on a huge dataset,I want to make use of the GPU-based estimators. However I am not familar with GPU programming. I can't solve the problem of gpuKnnLibrary.lib and cadart.lib not found. Could you give me some advices?

[2019-05-14 01:10] phullett opened #31 "tstool nn_prepare.mexmaci64 "Library not found""
Would it be possible to provide the original nn_prepare.c, nn_search.c, and range_search.c files used to make the mex files for 64bit Mac (I cannot find these files on TSTOOL downloads and they did not come with TRENTOOL; only the mex files are provided). The current mex file for nn_prepare returns the following error (below). I think it is because mex file compatibility is sometimes an  issue acr

[2019-05-16 08:54] mwibral commented on #31
Dear Phullet,

I fear that those source files are from the TSTool project. At the
moment we only have those mex files. However, you may have to look for
Fortran instead of c-files, if I remember correctly.

Best,

Michael

Btw: If you're familiar with python, you may also want to have a look at
IDtxl (https://github.com/pwollstadt/IDTxl) , TRENTOOL's successor
(removes the eed for MATLAb licenses)

[2019-05-16 15:34] phullett commented on #31
Thank you for the quick reply! They are from the TSTool project-- I will likely use IDtxl tool instead. Also, thank you for this TE resource!

Best,

Patrick

[2019-05-24 14:18] keshavbk opened #32 "less than mininmum nr of trials reached ACT threshold criteria - to solve the problem change the ACT threshold (cfg.actthrvalue) or remove the bad channel combinations"
Hi,

I am receiving the above error.

I am an undergrad, very new to the world of computational neuroscience. I am happy to provide any other necessary information, but I'm not sure what is necessary. I am also unsure about what a bad channel combination is in the first place, so it would be great if anyone could explain that as well.

Thanks,

Keshav Kundassery
Vanderbilt University
BIEN Lab

[2019-05-26 06:13] pwollstadt commented on #32
Hi Keshav, this means that you have too many trials with a autocorrelation decay time above the threshold set in cfg.actthrvalue. These trials get excluded from the analysis. A bad channel combination is a channel pair where the number of trials for at least one channel is too low. You may want to consider changing the actthrvalue to get more trials included.
If you are happy with working in Pytho

[2019-05-26 06:14] pwollstadt commented on #32
P.S.: Since this is not an error in the code, I will close this issue. Feel free to send me an email if you have more questions or open another issue if you encounter a bug.

[2019-05-26 06:14] #32 closed, assigned to nobody

[2019-05-26 06:19] pwollstadt commented on #31
Hi all, I will close this issue. Feel free to reopen if necessary.

[2019-05-26 06:19] #31 closed, assigned to nobody

[2019-10-12 11:29] aliekhlasi opened #33 "Compatible with fieldtrip"
Hello
Which one of fieldtrip versions compatible with trentool to calculate transfer entropy in time series?
I have full of errors in fieldtrip functions when I use TEsurrogatestats .m.

like these:

Error in getdimord>warning_dimord_could_not_be_determined (line 665)
newline_pos=find(full_content==newline);

Error in getdimord (line 631)
warning_dimord_could_not_be_determined(field, data);

Error

[2020-03-02 23:19] ernavk commented on #18
Would you consider updating the "TRENTOOL_doc" user documentation to reflect this change?

[2020-03-12 18:59] SorenWT opened #34 "Modification of shift test to calculate significance for short time series"
Hi TRENTOOL community,

I am trying to measure transfer entropy between time series of musical features and a time series of EEG features. These features are computed in a sliding window of length 3 s, with step size 0.25 s. As such, the time series we get are usually around 700 data points. This means we cannot really divide these time series into trials.

I have managed to use TRENTOOL's lower-l

[2020-04-14 10:41] asadmalik85 opened #35 "Mutual information between two variables"
Hi, is there a quick way for me to get the mutual information between two variables (e.g. time-series)? Thanks.

[2020-04-17 11:35] pwollstadt commented on #35
Hi, we are no longer maintaining TRENTOOL, but other packages offer quick ways to compute an MI. I recommend either [IDTxl](https://github.com/pwollstadt/IDTxl), [JIDT](https://github.com/jlizier/jidt), or just [scikit-learn](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.mutual_info_regression.html). IDTxl is TRENTOOL's follow-up project, written in Python (as is scik

[2020-04-17 11:35] #35 closed, assigned to nobody

[2020-09-15 14:57] rita-o commented on #4
Hello,

Sorry if this is a basic question, but I cannot find it anywhere.
What does it mean "short time window", how many time samples are recommended for the epochs for a robust TE estimation?
And another question is, should the epochs start at 0 or a bit before, to give some information about the baseline (as here, where the considered interval was [-50,300] ms)?

Thank you in advance,
Rita

[2020-10-17 22:08] Xirailuyo opened #36 "Error detected in the GPU (check console)"
Hello, I am attempting to run the ensemble method utilizing gpu. I am running into the following error:

I am running ubuntu 16.04, with cuda 8.0, and kernel 4.4. It seems that changes to the files listed don't change the resulting errors, even if those error messages are specifically changed. This is true even if I rerun the install file. I am not sure as how to proceed, especially as my data is

[2020-10-17 22:13] Xirailuyo commented on #27
The gpuKnnLibrary.lib error is likely due to the required function being deprecated in current cuda distributions.

The last cuda distribution that explicitly had the required functions for trentool was cuda 8.0. Make sure you have a graphics card compatible with cuda 8.0, install ubuntu 16 or 14, and make sure you install the appropriate kernel. You then have to correctly install the cuda toolkit

[2020-10-17 22:15] Xirailuyo commented on #19
See my answer here: https://github.com/trentool/TRENTOOL3/issues/27

[2020-10-17 22:16] Xirailuyo commented on #29
See my answer here @Cheng012: https://github.com/trentool/TRENTOOL3/issues/27

[2020-10-19 10:44] pwollstadt commented on #29
Hi everyone, thanks to @Xirailuyo for referencing your earlier solution to this. To add a bit of information on this: we no longer maintain TRENTOOL. So there is no update on the mex file and newer CUDA versions are no longer supported. You may want to try the workaround @Xirailuyo suggested or check out our new toolbox for information-theoretic analysis, [IDTxl](https://github.com/pwollstadt/IDTx

[2020-10-19 10:44] #29 closed, assigned to nobody

[2020-10-19 10:49] pwollstadt commented on #36
Hi @Xirailuyo, this error may very likely be due to the GPU code being compiled for older cards and CUDA versions. However, also the CPU estimator may be used for non-linear data. The GPU method is just necessary if you want to make use of the ensemble method for estimation (see [Wollstadt, 2014, PLOS ONE](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0102833)). If you want to

[2020-10-19 10:49] #36 closed, assigned to nobody

[2022-11-07 13:52] MinPanNWU commented on #15
Hello,

In  my experiment,  the majority of parameters are default values.  But all of transfer entropy values were < 0.  It's difficult for me to understand.

Any help would be much appreciated!

[2022-11-07 14:09] mwibral commented on #15
Hi,
I assume you are using the Kraskov estimaor on continuous valued data.
If so, the bias properties of the Kraskov estimator will sometimes
result in negative values. This is described in detail in the original
publication and Kraskov'r PhD thesis.

What may matter more for you, if your TE values are actually
significant.

Best,
Michael

On Mon, 2022-11-07 at 05:52 -0800, p2020m-2121 wrote:

[2022-11-08 08:50] MinPanNWU commented on #15
Thanks a lot, Michael!

Would you give me advice and guidance about how to transform negative TE into positive?

Any help would be much appreciated!

Sincerely,

Min